<div class="modal fade" id="login_modal" tabindex="-1" role="dialog" aria-labelledby="login_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">       
        
        <div class="modal-header">
            <button class="close" data-dismiss="modal">x</button>
            <h2>LOGIN</h2>
        </div>

        <div class="modal-body">
        <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>

        </div>

        <div class="modal-footer">
                <div>
                              <%= f.submit "Log in", class: "btn btn-primary" %>

                    <p>New user? <%= link_to "Sign up now!", signup_path
%></p>
                <% end %>

                        </div>
                    </div>
                </div>
                        
             </div>
        </div>
